<!--====================================================
                          CONTACT
======================================================-->
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
  <div class="row my-auto">
    <div class="col-md-12">
      <div class="contact-cont">
        <h3>CONTACT ME</h3>
        <div class="heading-border-light"></div>
        <p>If you ever wanted to contact me other then email, You can easily message me on Facebook, I am Very
          Active there. I am ready to work for you if the work sounds Impressive.</p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-5">
      <div class="contact-cont2 row">
        <div class="contact-add col-md-4 contact-box-desc">
          <h3><i class="fa fa-bolt cl-atlantis"></i> Social Connect</h3>
          <p>
            <ul class="list-inline list-social-icons mb-0">
              <li class="list-inline-item">
                <a href="https://facebook.com/imlolman">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/user/satyamgupta756">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.twitter.com/satyam755755">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/imlolman">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/imlolman">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
          </p>
        </div>
        <div class="contact-phone col-md-4 contact-box-desc">
          <h3><i class="fa fa-phone cl-atlantis"></i> Phone</h3>
          <p>+91 88715 31900 <br>+91 70002 93663</p>
        </div>
        <div class="contact-mail col-md-4 contact-box-desc">
          <h3><i class="fa fa-envelope-o cl-atlantis"></i> Email</h3>
          <address class="address-details-f">
            Fax: Really? Stone Aged? <br>
            Email: <a href="mailto:satyamforwork@gmail.com" class="">satyamforwork@gmail.com</a><br>
            Whatsapp: +91 88715 31900
          </address>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-5">
      {% include donate.html %}
    </div>
  </div>
  </div>
</section>