<div class="contact-cont2 row">
  <div class="contact-add center col-md-4 offset-md-1 contact-box-desc">
    <h3><i class="fa fa-money" aria-hidden="true"></i> Donate with Paytm</h3>
    <p>
      <a href="donateWithPaytm"><img src="/img/paytm-btn.png" alt="" class="donate-btn"></a>
    </p>
  </div>
  <div class="contact-add center col-md-1 contact-box-desc">
    <h3>or</h3>
  </div>
  <div class="contact-phone col-md-4 center contact-box-desc">
    <h3><i class="fa fa-money" aria-hidden="true"></i> Donate With Paypal</h3>
    <p>
      <a href="https://www.paypal.me/imlolman"><img src="/img/paypal-btn.png" alt="" class="donate-btn"></a>
    </p>
  </div>
</div>