a:hover {
  text-decoration: none;
}

.bottom-top {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 1px;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 30px;
  text-align: center;

  &:hover {
    background: transparent;
    color: #fff;
  }
}

@media only screen and (max-width: 780px) {
  .navbar-collapse {
    flex-basis: auto;
    text-align: right;

    li>a {
      display: inline;

      &::before,
      &::after {
        content: " ";
        white-space: pre;
      }
    }


    li.nav-item {
      display: inline;
    }

    .navbar-nav {
      flex-direction: row;
      display: inline;
    }
  }
}